<% if !params[:user_id] %>
    <h2>All Books</h2>
    <p><strong>Search by Genre:</strong></p>

    <%= form_tag(books_path, method: :get) do %>
        <%= collection_select :book, :genre_id, Genre.all, :id, :name, include_blank: true %>
        <%= submit_tag ("Search") %> 
    <% end %>

<% else %>
    <h2><%= current_user.username %>'s Purchases</h2>
    <% if current_user.books == []%>
        <p><%= current_user.username %> doesn't have any purchases</p>
    <% end %>
<% end %>      



<% @books.each do |book| %>
    <%= link_to book.title, book_path(book) %><br/>
<% end %>